{% extends 'base.html' %}

{% block content %}

<div class="section_heading text-center">
    <h2 style="margin: 50px;">About </h2>
</div>
<div class="footer_heading mb-30">
    <h6 style="margin: 50px;">Launched in May 2000, Satyam Readymade was established   in  chhindwara  , its first  store opening in    Chhindwara ,India.​

Boasting thousand of Customers ,Satyam Readymade is   the Most   Profitable    value        Fashion  Format in The Region.  ​

Satyam Readymade offers Dresses  for the entire Family  , Women , Men and children.​

Customer can expect a High-class Shopping Environment stocking the latest fashion from around the Globe.​

Shoppers enjoy great prices on a  excellent range of over 200+  styles every season.​

Thousand of product for Men , Women & Kids.  ​</h6>

 <h5 style="margin: 50px;">ONLINE FASHION SHOPPING : COVENIENT FAST & AFFORDABLE-​</h5>

<h6 style="margin: 50px;">Shopping is fun and exhilarating and more so when leaving the comport of home.​

Find your desired products more quickly and easily using our user-friendly online shopping platform.​</h6>

<h5 style="margin: 50px;">AVAIL ADD ONLINE SHOPPING BENEFITS-​</h5>

<h6 style="margin: 50px;">You chhose your product order it online and we deliver it right at your doorstep anywhere in Chhindwara.​

To offer you a safe and Risk free online shopping experience , We also offer COD facility.​</h6>
<h5 style="margin: 50px;">Satyam Readymade: THE HOTTEST ONLINE FASHION DESTINATION OF ALL TIMES -​</h5>
<h6 style="margin: 50px;">
	Fashion is more accesible with Satyam Readymade.<br>

Explore the Latest collection in Mens , Womens , Boys & Girls.<br>

At Satyam Readymade Online you will find Myraid options in smart formal shirts and trousers.<br>​

Online Shopping  for women at Satyam Readymade is mood elivating experience.​</h6>

<h5 style="margin: 50px;">Satyam Readymade: THE 24x7 ONLINE FASHION & LIFESTYLE STORE FOR EVERYONE-​</h5>

 </div> 

{% endblock %}